@import '~normalize.css/normalize';
$ns: ns;
@import '~@blueprintjs/core/lib/scss/variables.scss';
@import "~@blueprintjs/core/src/blueprint.scss";
@import "~@blueprintjs/datetime/src/blueprint-datetime.scss";
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import 'custom.scss';


@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 500;
   src: url('./fonts/Open Sans.ttf');
   src: url('./fonts/Open Sans.ttf') format('truetype');
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
 
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .05);
}
 
::-webkit-scrollbar-thumb {
  background: $indigo4; 
}

*:focus {
    outline: none;
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}

.checkbox {
	margin-top: 30px;	
}

body {
	font-family: "Open Sans";
	// -webkit-text-stroke: #fff 0px 1px 1px;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	padding: 0;
	margin: 0;
	background-color: #f4f8f9;
}

.wrapInline {
	display: flex;
	height: calc(100vh - 50px);
	width: 100%;
}

.wrapSidebar {
	width: 300px;
	height: 100%;
	margin-left: -300px;
	transition: margin .5s cubic-bezier(0, 0, 0, 0.98);
}

.wrapper-active {	
	margin-left: 0;
}

.wrapRouter {
	width: 100%;
	height: calc(100vh - 50px);
}

.wrapHeader {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 1rem;
}

.heading {
	width: auto;
    max-width: 25vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.btnUserTopBar > .#{$ns}-button-text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 20vw;
}

.wrapTableview {	
	overflow-y: auto;
	height: calc(100vh - 188px);
}

.wrapTableview tbody {
	background-color: $white;
}

.dys-container {
	padding: 1%;
	height: 100%;
}

.dys-paper {
	background-color: $white;
	height: calc(100vh - 70px);
    background-color: #ffffff;
    margin: 20px 1% 0 1%;
    border-radius: 15px 15px 0 0;
}

.sidebar {
	width: 100%;
    height: 100%;
    padding: 10px;
}

.loginbox {
	max-width: 50rem;
    background-color: $white;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid $light-gray5;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
}

.form {
	overflow-y: auto;
	height: calc(100vh - 127px);
}

.paddingVertical {
	padding: 1rem 0;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.border {
	border: 1px solid $light-gray3;
}

.bold {
	font-weight: bold;
}

.pointer {
	user-select: none;
	cursor: pointer;
}

.datefill > span {
	width: 100%;
}

[class*="col-"] {
	padding: 2px 10px;
}

@import 'reflex.min.css';